@{
    ViewBag.Title = "Admin Page";
}

<h2>Admin Page</h2>

@Html.ActionLink("Roles", "Roles", new { }, new { @class = "btn btn-warning" })
@Html.ActionLink("Customers", "Customers", new { }, new { @class = "btn btn-warning" })
@Html.ActionLink("Movies", "Index", "Movies" , new { }, new { @class = "btn btn-warning" })
@Html.ActionLink("Update Movies", "UpdateMovies", new { }, new { @class = "btn btn-warning" })