@model MovieStore.Lib.Models.MovieSearchResponse
@{
    ViewBag.Title = "Search Results";
}

@{
    if (Model.Search != null)
    {
        <h2 class="mb-3">@Model.Search.Count Results</h2>

        foreach (var movie in Model.Search)
        {
            if (movie.Type == "movie")
            {
                @*@Html.Partial("_MovieSearchPartial", movie)*@
            }

            @Html.Partial("_MovieSearchPartial", movie)
        }
    }
    else
    {
        <h1>No results.</h1>
    }
}