@{
    ViewBag.Title = "Not Found";
}

<div class="d-flex flex-column align-items-center">
    <h1 class="display-1 text-warning">Page Not Found</h1>
    <h3 style="color: rgba(255, 255, 255, 0.8)">The route <b style="color:rgba(255, 255, 255, 1)">@string.Format("www.{0}{1}", @Request.Url.Host, ViewBag.NotFoundPath)</b> was not found.</h3>

    <span class="fa-stack fa-10x">
        <i class="fas fa-circle fa-stack-1x" style="color: black; font-size: 13rem;"></i>
        <i class="fas fa-circle fa-stack-1x text-warning" style="font-size: 12rem;"></i>
        <i class="fas fa-radiation fa-stack-1x" style="color: black;"></i>
    </span>
</div>