@{
    ViewBag.Title = "Not Found";
}

<div class="d-flex flex-column align-items-center">
    <h1 class="display-1 text-warning">404 Not Found</h1>

    <span class="fa-stack fa-10x">
        <i class="fas fa-circle fa-stack-1x" style="color: black; font-size: 13rem;"></i>
        <i class="fas fa-circle fa-stack-1x text-warning" style="font-size: 12rem;"></i>
        <i class="fas fa-radiation fa-stack-1x" style="color: black;"></i>
    </span>
</div>