<ul class="navbar-nav navbar-right navbar-dark bg-dark mr-2">
    <li class="nav-item">
        <a href="@Url.Action("Index", "Cart")" id="cartBtn" class="btn py-0 px-1 text-info" style="font-size: 1.75rem;">
            <i class="fas fa-shopping-cart"></i>

            @if (((List<MovieStore.Lib.Models.Movie>)Session["CartMovies"]) == null)
            {
                <span id="cartAmount"></span>
            }
            else
            {
                <span id="cartAmount">@(((List<MovieStore.Lib.Models.Movie>)Session["CartMovies"]).Count)</span>
            }
        </a>
    </li>
</ul>