@{
    ViewBag.Title = "Index";
}

<h2>Customer Page</h2>

@Html.ActionLink("Edit Data", "Edit", "Customer", new { }, new {@class="text-warning" }) | 
@Html.ActionLink("Orders", "Orders", "Customer", new { }, new { @class = "text-warning" })