@{
    ViewBag.Title = "Contact us";
}
    <h2 class="text-warning">@ViewBag.Title.</h2>


    <address class="text-light">
        Movie Store LLC<br />
        Redmond, WA 98052-6399<br />
                              <abbr title="Phone"></abbr>
        425.555.0100
    </address>

    <address class="text-secondary">
        <a href="mailto:sebbe.vallin@gmail.com" class="text-light" style="text-decoration:none;"><strong>Sebastian Vallin</strong></a> Support<br />
        <a href="mailto:krajncvide53@gmail.com" class="text-light" style="text-decoration:none;"><strong>Vide Krajnc</strong></a> Marketing
    </address>