@model List<MovieStore.Lib.Models.Movie>

@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron bg-warning">
        <h1 class="text-dark">Movie Store</h1>
    </div>

<div class="row align-items-stretch align-content-stretch justify-content-center">
        @if (Model.Count > 0)
        {
            foreach (var movie in Model)
            {
                @Html.Partial("_MoviePartial", movie)
            }
        }
</div>